// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFE300;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$rainy-day: #5463FF;
$cloudy: #ECECEC;

$clear-start: #ECB425;
$clear-end: #EF7200;

$cloud-start: rgb(180, 180, 180);
$cloud-end: rgb(120, 120, 120);
