*, *::after, *::before {
  box-sizing: border-box;
}

h1, h2, h3 {
  margin: 0;
}

.wrapper {
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  background: transparent;
  transition: all 0.8s ease-out;
}

.yellow {
  color: $yellow;
}

.dark {
  color: $cloudy;
}


.clear {
  background: linear-gradient($clear-start, $clear-end);
  transition: all 0.8s ease-out;
}

.clouds {
  background: linear-gradient($cloud-start, $cloud-end);
  transition: all 0.8s ease-out;
}

.drizzle {
  background: linear-gradient($cloud-start, $cloud-end);
  transition: all 0.8s ease-out;
}
.rain {
  background: linear-gradient($cloud-start, $cloud-end);
  transition: all 0.8s ease-out;
}
