.form {
  display: flex;
  margin-top: 0.5rem;
  ::placeholder {
    color: white;
  }
  :focus {
    outline: none;
  }
  &-input {
    color: white;
    flex-grow: 1;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  }
  &-submit {
    outline: none;
    background-color: transparent;
    color: white;
    border: none;
  }
  &-results {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    li {
      padding: 0.5rem;
    }
  }
}
