// Colors
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFE300;
$orange: #E67E22;
$green: #9AE66E;;
$gray: #0E0000;
$light-gray: #F4F4F4;
$rainy-day: #5463FF;
$cloudy: #ECECEC;
$sunny-start: #ECB425;
$sunny-end: #EF7200;

.favorite {
  font-size: 1.1rem;
  color: white;
  padding: 0.4rem 0.5rem;
  border-radius: 50%;
  border: 2px solid white;
  transition: all 0.8s ease-out;
  &-city {
    color: $green;
    border: 2px solid $green;
    transition: all 0.8s ease-out;
  }
}
.city {
  font-size: 2rem;
  color: white;
  margin-top: 1rem;
}
.date {
  font-size: 1rem;
  color:rgba(255, 255, 255, 0.6);
}

.daily {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  color: white;
  &-day {
    font-size: 1rem;
    font-weight: 300;
    flex-grow: 1;
  }
  &-weather {
    width: 2.2rem;
  }
  &-degrees {
    display: flex;
    font-size: 1rem;
    justify-self: flex-end;
    align-items: center;
  }
  &-degrees-low {
    font-size: 1rem;
    color:rgba(255, 255, 255, 0.6);
  }
  &-degrees-high {
    margin-right: 0.5rem;
    font-size: 1rem;
  }
}

.weather {
  &-current {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &-icon {
    font-size: 6rem;
    animation: blink 2s linear infinite
  }
  &-hourly {
    margin: 1rem 0;
    border-top: 1px solid rgba(255, 255, 255, 0.6);
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    display: flex;
    padding: 0.5rem 0.5rem;
    position: relative;
  }
  &-forecast {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 0 0.5rem;
    border-radius: 1rem;
  }
}
@keyframes blink {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
};


.weather-degrees {
  display: flex;
  &-main {
    font-size: 5rem;
    font-weight: 500;
    color: white;
  }
  &-high {
    font-size: 1rem;
    color:rgba(255, 255, 255, 0.6);
  }
  &-low {
    color:rgba(255, 255, 255, 0.6);
    font-size: 1rem;
    margin-left: 0.5rem;
  }
}
